body{
    padding: 10px 20px;
    margin: 0;
    background: black;
}
span{
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}
game {
    padding: 0;
    margin:0 auto;
    display: block;
    position: absolute;
}